:root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    border: solid 1px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

/*-----------sidebar--------------*/
.sidebar {
    border: solid 1px;
    grid-row: 1/3;

    display: grid;
}

.sidebar-rows {
    border: solid 1px;
}

/*-----------Sidebar(end)--------------*/

/*-----------Header--------------*/

.header {
    border: solid 1px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-rows {
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#row1{
    padding-right: 3rem;
}


#searchbar {
width: clamp(10rem,30rem, 40rem);
    
}

.searchbar-img {
    height: clamp(0.4rem, 2rem, 3rem);
    margin-right: 1rem;
    padding-left: 3rem;
    color: black;
}

.img-big {
    height: clamp(1rem, 4rem, 5rem);
}

.img-background {
    display: inline-block;
    background-color: aqua;
    border-radius: 3rem;
    padding: 0.2rem;
}


.avatar {
    display: inline-block;
}

/*-----------Header(end)--------------*/
.content {
    border: solid 1px;
}