:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

div {
    border: solid 1px;
}

.container {
    margin: auto;
    width: clamp(0px, 70vw, 100vw);
    height: clamp(0px, 100vh, 100vh);

    display: flex;
}

.wrapper{
flex: 1 1 0%;

    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 2fr);
    grid-template-rows: minmax(0px, 1fr) minmax(0px, 2fr);
    align-content: stretch;
    justify-content: stretch;
}
